<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CaminhoArquivoTemplate"
         value="C:\Desenvolvimento\OpenXml.Word\Template\Modelo.docx" />
    <add key="DiretorioGeracaoArquivoTeste"
         value="C:\Desenvolvimento\OpenXml.Word\Tests\" />
  </appSettings>
</configuration>